.header{
    background-image: linear-gradient(gray, white, gray);
    color: black;
    padding:10px;
    border-radius: 5px;
}
#search{
    background-image: linear-gradient(skyblue, white, skyblue);
    color: black;
    padding:10px;
    border-radius: 5px;
    float: inline-end;
    font-size: 200%;
}
#content{
    color: black;
    float: bottom;
    border-collapse : collapse;
    text-align: center;
}
#howmany{
    text-align: right;
    margin:1%;
}
#info{
    margin-left: 10px;
    
}
#submit{
    background-image: linear-gradient(skyblue, white, skyblue);
    color: black;
    border-radius: 5px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    font-size: 200%;
    width: 10%;
    height: 10%;
    margin-top: 3%;
}
#bank{
    color: black;
    float: bottom;
    border-collapse : collapse;
    text-align: center;
    color: red;
}
#new{
    margin:0 auto;
    margin-left: 80%;
}