<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社内総合管理システム</title>
</head><link rel="stylesheet" href="torihiki.css">
    <h1 class="header">■　取引先管理</h1>
    <p>■検索条件</p>
    取引先名　<input type="text">
    <div id="search">検　索</div>
    <p>■取引先一覧</p>
    <div id="howmany">件数：3件　　　　　　　　　　<a href="add.html">新規登録</a></div>
    <table border="1" id="content">
        <th width="5%" style="background-color: lightsteelblue;">
            取引先名
        </th>
        <th width="5%" style="background-color: lightsteelblue;">
            担当者名
        </th>
        <th width="5%" style="background-color: lightsteelblue;">
            担当者Mail
        </th>
        <th width="5%" style="background-color: lightsteelblue;">
            担当者Tel
        </th>
        <th width="5%" style="background-color: lightsteelblue;">
            編集
        </th>
        <tr th:each="to:${toMainList}">
            <td th:text="${to.name}"></td>
            <td>馬　XX</td>
            <td>XXX@XXXXXX.co.jp</td>
            <td>090-0000-0000</td>
            <td><a href="upd.html">更新<br>削除</br></a> </td>
        </tr>
        <tr>
            <td>(株)BBB</td>
            <td>馬　XX</td>
            <td>XXX@XXXXXX.co.jp</td>
            <td>090-0000-0000</td>
            <td><a href="url">更新<br>削除</br></a> </td>
        </tr>
        <tr>
            <td>(株)CCC</td>
            <td>王　XX</td>
            <td>XXX@XXXXXX.co.jp</td>
            <td>090-0000-0000</td>
            <td><a href="url">更新<br>削除</br></a> </td>
        </tr>
    </table>
</body>
</html>